In [1]:
#importing all related libraries
import pandas as pd
import re 
import string
import syllables
import nltk
from nltk.tokenize import word_tokenize
from nltk.corpus import stopwords
from nltk.sentiment.vader import SentimentIntensityAnalyzer

In [2]:
nltk.download('punkt')

[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\deevy\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!

True

In [3]:
nltk.download('stopwords')

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\deevy\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

True

In [4]:
#text cleaner using regex
def text_cleaner(text):
    if not isinstance(text, float):
        text = text.lower()
        text = text.replace('\n', ' ')
        text = re.sub('\[.*?\]','',text) 
        text = re.sub('[%s]' % re.escape(string.punctuation),'',text)
        text = re.sub('\w*\d\w*','',text)
        text =re.sub(r'[“”–’]', '',text)
        text =re.sub(r'\b\w+\s*\s*\w+\b','',text)
    else:
        pass
    return text

cleaner = lambda x: text_cleaner(x)

In [5]:
encoding='latin-1'
delimiter_pattern = r'\!|\?|\.'

df =  pd.read_csv('C:/Users/deevy/Desktop/scrape.txt', header=None, encoding=encoding, sep=delimiter_pattern)
df1 = pd.read_csv('C:/Users/deevy/Desktop/scrape.txt', header=None, encoding=encoding, sep=delimiter_pattern)
df2 = pd.read_csv('C:/Users/deevy/Desktop/scrape.txt', header=None, encoding=encoding, sep=delimiter_pattern)

df = df.dropna(axis=1, how='all')
df1 = df1.dropna(axis=1, how='all')
df2 = df2.dropna(axis=1, how='all')

C:\Users\deevy\AppData\Local\Temp\ipykernel_17388\1061655404.py:4: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  df =  pd.read_csv('C:/Users/deevy/Desktop/scrape.txt', header=None, encoding=encoding, sep=delimiter_pattern)
C:\Users\deevy\AppData\Local\Temp\ipykernel_17388\1061655404.py:5: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  df1 = pd.read_csv('C:/Users/deevy/Desktop/scrape.txt', header=None, encoding=encoding, sep=delimiter_pattern)
C:\Users\deevy\AppData\Local\Temp\ipykernel_17388\1061655404.py:6: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  df2 = pd.read_csv('C:/Users/deevy/Desktop/scrape.txt', header=None, encoding=encoding, sep=delimiter_pattern)

In [6]:
df

,0,1,2,3,4,5,6,7,8,9,...,205,206,207,208,209,210,211,212,213,214
0,"Measured by his contributions to economics, po...","Yet, rare among such thinkers, Sowell manages...","As Kevin Williamson observed, Sowell is that..."," From 1991 until 2016, his nationally syndica...",Too many academics write as if plain English...," If academics birth needlessly complex prose,...","An editor, Sowell once quipped, would probabl...","Consider Sowells clear, brief explanation of...", What does scarce mean," he asks in his laymans textbook, Basic Econ...",..., Its hard not to laugh at this hapless revie...,The prevailing notion today is that your skin...,And it is generally those who see themselves ...,"To such people, the existence of a man like Th...","He will always remain, in their minds, a phen...",But the question is not why a man who lived S...,The question is why one would expect a mind s...,Coleman Hughes is a fellow at the Manhattan In...,"His writing has appeared in Quillette, the Ne...","Top Photo: After years of being a Marxist, Tho..."

In [7]:
for i in df.columns:
    df[i] = pd.DataFrame(df[i].apply(cleaner))

In [8]:
stop_words = set(stopwords.words('english'))
for m in df.columns:
    df[m] = df[m].apply(lambda x: ' '.join([word for word in x.split() if word.lower() not in stop_words]))

In [9]:
df

,0,1,2,3,4,5,6,7,8,9,...,205,206,207,208,209,210,211,212,213,214
0,measured contributions economics political the...,yet rare among thinkers sowell manages never p...,kevin williamson observed sowell that rarest ..., nationally syndicated column set bar clear w...,too many academics write plain english beneat..., academics birth needlessly complex prose edi...,editor sowell quipped would probably changed s...,consider sowells clear brief explanation eco..., what scarce mean, asks laymans textbook basic economics,..., its hard laugh hapless reviewers expense m...,prevailing notion today skin color chromosomes...,generally see freethinkingwoke rest us asle...,people existence man like thomas sowell always...,always remain minds phenomenon explained,question man lived sowells life came hold views,question one would expect mind brilliant submi...,coleman hughes fellow manhattan institute cont...,writing appeared quillette new york times wall...,top photo years marxist thomas sowell shown en...

In [10]:
#tokenization
for j in df.columns:
    df[j] = df[j].apply(lambda x: word_tokenize(x))

for j in df1.columns:
    df1[j] = df1[j].apply(lambda x: nltk.word_tokenize(x))

In [11]:
 #CALCULATUIONS

#words after removing stopwords
words_cleaned=0
for column in df.columns:
    for token in df[column]:
        for tkn in token:
            words_cleaned=words_cleaned+1

#words before removing stopwords
words=0
for column in df1.columns:
    for token in df1[column]:
        for tkn in token:
            words=words+1

#number of sentences using df2
sentences=0
for column in df2.columns:
    sentences=sentences+1

#calculating the total number of characters using tokens from df1
total_characters = 0
for column in df1.columns:
    for token in df[column]:
        for tkn in token:
            total_characters = total_characters + len(tkn)

#average word length
Average_Word_Length=total_characters/words

#counting the number of persnal Pronouns
#(?!US\b) to avoid using country US as personal pronoun
pattern = r'\b(?!US\b)(he|she|it|they|we|you|I|me|him|her|us|them)\b'
pers_pro = 0
for column in df1.columns:
    for token in df1[column]:
        for tkn in token:
            if re.match(pattern, tkn):
                pers_pro=pers_pro+1

#counting the number of syllables using syllable library
sy_count=0
for column in df1.columns:
    for token in df1[column]:
        for tkn in token:
            syllable_count = syllables.estimate(tkn)
            if tkn.endswith("es") or tkn.endswith("ed"):
                syllable_count -= 1
            sy_count=sy_count+syllable_count

#counting the number of complex words
complex_count=0
for column in df1.columns:
    for token in df1[column]:
        for tkn in token:
            syllable_count = syllables.estimate(tkn)
            if tkn.endswith("es") or tkn.endswith("ed"):
                syllable_count -= 1

            #if a word has more than 2 syllable it is considered a complex word
            if syllable_count>2:
                complex_count=complex_count+syllable_count

In [12]:
#column name
column_name=['Cleaned Words', 'Total Words','Sentences','Total Characters','Average Word Length', 'Personal Pronouns', 'Syllable', 'Complex Words']

In [13]:
dataoutput=[]
dataoutput.append([words_cleaned,words,sentences,total_characters,Average_Word_Length,pers_pro,sy_count,complex_count])

In [14]:
dfmain = pd.DataFrame(dataoutput, columns=column_name)

In [15]:
dfmain

,Cleaned Words,Total Words,Sentences,Total Characters,Average Word Length,Personal Pronouns,Syllable,Complex Words
0,2370,4604,215,15905,3.454605,138,7446,2608